@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Circular') url('CircularStd-Book.woff2') format('woff2'),
    url('CircularStd-Book.woff') format('woff');
}
@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Circular') url('CircularStd-Bold.woff2') format('woff2'),
    url('CircularStd-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Circular') url('CircularStd-Black.woff2') format('woff2'),
    url('CircularStd-Black.woff') format('woff');
}
