@font-face {
  font-family: 'Avenir Heavy';
  font-style: normal;
  font-weight: 700;
  src: url('Avenir-Heavy.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Medium';
  font-style: normal;
  font-weight: 300;
  src: url('Avenir-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Light';
  font-style: normal;
  font-weight: 100;
  src: url('Avenir-Light.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Book';
  font-style: normal;
  font-weight: 900;
  src: url('Avenir-Book.woff') format('woff');
}
